.btn, button {
    margin: 0;
    font-size: 12px;
    background: $primary-colour;
    color: $white;
    &:hover {
        background: $secondary-colour;
    }
}
.btn {
    &:hover {
        border-width: 0;
    }
    &:after {
        content: "";
        padding: 0;
        display: none;
    }
}