#EventContent {

	.calendar-holder {
		margin-top: 20px;
		margin-bottom: 120px;
		&.cal-view {
			div {
				width: 14.27%;
				float: left;
				@media (max-width: 991px) {
					width: 20%;
				}
				@media (max-width: 767px) {
					width: 100%;
				}
			}
		}
		.headers {
			overflow: auto;
			padding: 10px 0;
			background: $primary-colour;
			color: $white;
			text-transform: uppercase;
			font-size: 17px;
			.day {
				text-align: center;
				float: left;
				padding: 10px 5px;
			}
			@media (max-width: 991px) {
				display: none;
			}
		}
		.calendar {
			.day {
				padding: 0;
				position: relative;
				min-height: 100px;

				&:nth-child(odd) {
					background: $light-grey;
				}
				&.off-month {
					background: repeating-linear-gradient(38deg, rgba(240, 240, 240, 0.5), rgba(240, 240, 240, 0.5) 10px, $white 10px, $white 20px);
					&:nth-child(odd) {
						background: repeating-linear-gradient(38deg, rgba(241, 241, 241, 1), rgba(241, 241, 241, 1) 10px, $light-grey 10px, $light-grey 20px);
					}
					.event {
						background: $primary-colour;
						opacity: 0.4;
						cursor: not-allowed;
						&:hover {
							div.event-information {
								display: none;
							}
						}
					}
				}
				.date {
					position: absolute;
					right: 0;
					top: 0;
					padding: 2px 5px;
				}
				.view-more {
					position: absolute;
					left: 0;
					padding: 1px 5px;
				}

				.event {
				    display: block;
				    position: absolute;
				    width: 98%;
				    background: $primary-colour;
				    color: $white;
				    padding: 0 5px;
				    border-radius: 10px;
				    height: 21px;
				    padding-top: 1px;
				    margin: 0 1%;
				    font-size: 12px;
				    cursor: pointer;
				    span.text {
				    	overflow: hidden;
				    	display: block;
				    }
				    &.ongoing {
				    	border-radius: 0;
					    width:100%;
					    margin: 0;
					    white-space: nowrap;
					    text-overflow: ellipsis;
					    &.first {
					    	width: 100%;
					    	border-radius: 10px;
					    	border-top-right-radius: 0;
					    	border-bottom-right-radius: 0;
					    }
					    &:not(.first) {
					    	@media (min-width: 768px) {
					    		&:hover {
									div.event-information {
										display: none;
									}
								}
					    	}
					    }
					    &.last {
					    	border-radius: 10px;
					    	border-top-left-radius: 0;
					    	border-bottom-left-radius: 0;
					    }
					}
					&.muted {
						background: none;
						color: $primary-colour;
						text-overflow: ellipsis;
						white-space: nowrap;
						svg {
							/* @todo add and style basket-andhoop.svg in page template */
						}
					}
					&.first {
						width: 98%;
					}
					&.last {
						width: 98%;
					}
					.event-information {
						display: none;
						position: absolute;
						top: 21px;
						left: -50%;
						width: 200%;
						background: $white;
						color: $primary-colour;
						box-shadow: 1px 1px 6px 1px #d0d0d0;
						padding: 20px 25px 10px 25px;
						z-index: 10;
						@media (max-width: 767px) {
							width: 100%;
							left: 0;
						}
						ul {
							padding: 0;
							li {
								color: #444;
								display: block;
								margin-bottom: 5px;
								white-space: normal;
								span.title {
									color: $primary-colour;
									display: block;
									font-size: 14px;
									text-transform: uppercase;
									letter-spacing: 1px;
									font-weight: bold;
									em {
										font-size: 12px;
										color: #d0d0d0;
										text-transform: none;
										font-weight: normal;
									}
								}
								p {
									color: $white;
								}
							}
						}
						div.dropdown {
							/* Reset styling applied to all divs above */
							width: auto;
							float: inherit;
							@media (max-width: 991px) {
								width: auto;
							}
							@media (max-width: 767px) {
								width: auto;
							}
						}
						@media (max-width: 340px), (min-width: 768px) and (max-width: 991px) {
							.btn {
								padding: 6px 12px;
							}
							div.dropdown .btn {
								padding-right: 17px;
								padding-left: 10px;

							}
							div.dropdown ul.dropdown-menu a {
								font-size: 12px;
							}
						}
						@media (min-width: 992px) and (max-width: 1199px) {
							.btn {
								padding: 6px 10px;
							}
							div.dropdown .btn {
								padding-right: 18px;
								padding-left: 8px;

							}
						}
					}
					&:hover {
						div.event-information {
							display: block;
						}
					}
				}

				.pos1 {
				    top: 22px;
				}
				.pos2 {
					top: 47px;
				}
				.pos3 {
					top: 72px;
				}
				.pos4 {
					display: none;
				}
			}
			@media (max-width: 767px) {
				padding: 0 15px;
			}
		}
		&.agenda {
			.off-month {
				display: none;
			}
			.day {
				width: 100%;
				padding: 18px 15px;
				.single-event {
					overflow: visible;
					width: 100%;
					padding: 0;
					padding: 20px 0;
					border-top: 2px solid #EEEEEE;
					a.btn {
						margin-bottom: 5px;
						@media (min-width: 768px) {
							float: right;
						}
					}

					p {
						&.title {
							color: $primary-colour;
						}
						span {
							margin-left: 10px;
						}
					}

				}
			}
		}
	}

	.time-place {
		color: #999;
		font-size: 10px;
	}

	.calendar-filter {
		margin-top: 40px;
		$filter-padding: 10px;
		text-align: center;
		padding: $filter-padding;
		.month {
			display: inline-block;
			position: relative;
			h3 {
				margin: 0;
				font-size: 23px;
				text-transform: capitalize;
			}
			&.current h3 {
				font-size: 32px;
				text-transform: uppercase;
			}
			&:after {
				top: 0;
				bottom: 0;
				width: 35px;
				position: absolute;
				padding: 8px 5px;
				font-size: 19px;
				color: $primary-colour;
			}
			&.prev {
				float: left;
				padding-left: 35px;
				&:after {
					content: '\2190';
					left: calc(0px - #{$filter-padding});
				}
			}
			&.next {
				float: right;
				padding-right: 35px;
				&:after {
					content: '\2192';
					right: calc(0px - #{$filter-padding});
				}
			}
		}
		@media (max-width: 375px) {
			margin-top: 70px;
			.month {
				&.current {
					position: relative;
					bottom: 50px;
					width: 0;
					h3 {
						position: absolute;
						left: -90px;
						width: 200px;
					}
				}
			}
		}
	}

	.calendar-view {
		cursor: pointer;
		color: #999;
		font-size: 12px;
		letter-spacing:0.5px;
		&.switch-view {
			margin-bottom: 10px;
			display: block;
			@media (max-width: 767px) {
				padding: 0 15px;
			}
		}
		svg {
			width: 13px;
			height: 13px;
			margin-bottom: 3px;
			margin-right: 5px;
			vertical-align: middle;
		}
	}

}